p {
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
@media(min-width: 960px){
     {
        display: flex;
    }
section > ul > li:first-child, section > ul > li:nth-child(2){
    display: grid;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: left;
}
