p {
    text-align: center;
}

main {
    width: 100%;
}
@media(min-width: 780px){

.grid-container{
    display: flex;
    flex-direction: row;
    }
section > li:nth-of-type(3){
   justify-content: flex-end;
}

}
